.shop-container {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 2rem 0;

  .product-list {
    flex: 3;
  }

  .cart {
    flex: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeInOut 6s ease-in-out forwards;
}

.success-modal {
   background-color: #d1e7dd;
  color: #0f5132;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  z-index: 1000;
  animation: fadeInOut 6s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

