<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (microgreen of microgreen; track microgreen.name) {
            <tr>
                <td>{{microgreen.name}}</td>
                <td><img [src]="microgreen.image" [alt]="microgreen.name"></td>
                <td>{{microgreen.price}}</td>
                <td>{{microgreen.stock}}</td>
                @if (microgreen.stock > 0) {
                    <td>{{microgreen.stock}}</td>
                }@else {
                    <td>SIN STOCK</td>
                }
            </tr>
        }@empty {
            <tr>
                <td>No hay microgreens para mostrar.</td>
            </tr>
        }
        
    </tbody>
</table>
