<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (microgreen of microgreen; track microgreen.name) {
            <tr [ngClass]="{'clearance': microgreen.clearance}"> <!--TODO not working-->
                <td>{{microgreen.name}}</td>
                <td><img [src]="microgreen.image" [alt]="microgreen.name"></td>
                <td>{{microgreen.price}}</td>
                <td> @if (microgreen.stock > 0) {
                        {{microgreen.stock}}
                    } @else {
                        <span class="badge text-bg-warning">SIN STOCK</span>
                    }</td>
            </tr>
        }@empty {
            <tr>
                <td colspan="4">No hay microgreens para mostrar.</td>
            </tr>
        }
        
    </tbody>
</table>
