<form [formGroup]="formSignUp" [submit='obSubmit()']>
    <div [class.invalid]="formSignUp.get('username')?.invalid == false"><!--otra opcion -->
        <label for="username"></label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div [class.invalid]="formSignUp.get('email')?.valid == false">
        <label for="email"></label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div [class.invalid]="formSignUp.get('password')?.valid == false"><!--para mostrar q usas la clase -->
        <label for="password"></label>
        <input id="password" type="password" formControlName="password">
        <div>
            <p *ngIf="formSignUp.get('password')?.hasError('required')">El password es requerido</p> <!--un objeto de errores independientes q me dice cual es el error-->
            <p *ngIf="formSignUp.get('password')?.hasError('minlength')">El password debe tener mínimo 6 caracteres</p>
        </div>
    </div>
    <div>
        <label for="confirmPassword"></label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword">
        <p *ngIf="formSignUp.hasError('agus')">Las constraseñas noi coinciden</p>
    </div>
    <button  [disabled]="formSignUp.invalid" type="submit">Sign up</button>
</form>

<!--esto a modo de ejemplo para mostrar que se actualiza-->
<pre>
    {{ formSignUp.get('username')?.value}} <!--el ? es un acceso seguro-->
    {{formSignUp.get('username')?.valid}}<!--esto da true o false en tiempo real-->


    {{ formSignUp.get('email')?.value}}

    {{ formSignUp.get('password')?.value}}
    {{formSignUp.get('password')?.valid}}

    {{formSignUp.valid}} <!--si se cumplen todas las validaciones se valida el formulario-->
</pre>