<form [formGroup]="formSignUp" (submit)="onSubmit()">
    <p>You need to be logged in to place an order.</p>
    <h2>Sign-up</h2>
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <div>
            <p *ngIf="formSignUp.get('password')?.hasError('requiered')">Password is requiered.</p>
            <p *ngIf="formSignUp.get('password')?.hasError('minlength')">Password must have at least 8 characters.</p>
        </div>
    </div>
    <div >
        <label for="repeatPassword">Repeat password</label>
        <input id="repeatPassword" type="password" formControlName="repeatPassword">
        <p *ngIf="formSignUp.hasError('passwordMismatch')">Passwords don't match.</p>
    </div>
    <button [disabled]="formSignUp.invalid" type="submit">Sign up</button>
</form>