<div>
    <div>
        <h1>Contact us!</h1>
        <p>Reach out to us for inquiries about our microgreens. We're here to help you with your needs.</p>
    </div>
</div>



<form [formGroup]="formSignUp" (submit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <div>
            <p *ngIf="formSignUp.get('password')?.hasError('requiered')">el password es requerido</p>
            <p *ngIf="formSignUp.get('password')?.hasError('minLength')">el password debe tener minimo 6 caracteres</p>
        </div>
    </div>
    <div >
        <label for="repeatPassword">Repeat password</label>
        <input id="repeatPassword" type="password" formControlName="repeatPassword">
        <p *ngIf="formSignUp.hasError('passwordMismatch')">Las constraseñas no coinciden</p>
    </div>
    <button [disabled]="formSignUp.invalid" type="submit" routerLink="/checkout">Sign up</button>
</form>

<!--esto solo para chequear-->
<pre>
    {{formSignUp.get('username')?.value}}
    {{formSignUp.get('email')?.value}}
    {{formSignUp.get('password')?.value}}
    {{formSignUp.get('repeatPassword')?.value}}

    {{formSignUp.valid}}
</pre>