<div class="about-container">
    <h1>About us 🌱</h1>
        <div class="about-content">
            <div class="about-text">
                <p>
                    Lify was born out of a desire to meet a local need in the gastronomic sector of Tandil.
                    This particular product was only available in a few other cities in the province, but due to logistical issues, it wasn't always a viable option.
                    It is the venture of a group of friends curious to learn about indoor vegetable cultivation. Lify offers a wide range of microgreen varieties grown in a controlled, completely safe, and organic environment.
                </p>
            </div>
            <div class="about-image">
                <img src="assets/images/about-image.jpg" alt="About us">
            </div>
        </div>
</div>
