<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container-fluid">
    <div><img src="../assets/images/logo.png" alt=""></div>
    <!-- <a class="navbar-brand" href="#">{{title}}</a> -->
    <!-- nav menu btn -->
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Microgreens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Conctact us!</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- div class="col8"><app-microgreen-list></app-microgreen-list></div>-->
    <div class="col4">Carrito de compras</div>
  </div>
</div>
<footer>{{title}} | Since 2022</footer>