<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (microgreen of microgreens; track microgreen.name) {
            <tr [ngClass]="{ 'clearance': microgreen.clearance }"> <!--TODO ver si realmente mantengo esta clase o no-->
                <td>{{microgreen.name}}</td>
                <td><img [src]="microgreen.image" [alt]="microgreen.name"></td>
                <td>{{microgreen.price}}</td>
                <td> @if (microgreen.stock > 0) {
                        {{microgreen.stock}}
                    } @else {
                        <span class="badge text-bg-warning">SIN STOCK</span>
                    }
                </td>
                <td>
                    @if(microgreen.stock) {
                        <app-input-integer [(quantity)]="microgreen.quantity" [max]="microgreen.stock" (maxReached)="maxReached($event)"></app-input-integer>
                    }
                </td>
            </tr>
        }@empty {
            <tr>
                <td colspan="4">No hay microgreens para mostrar.</td>
            </tr>
        }
    </tbody>
</table>