<div class="card-container">
  @for (microgreen of microgreens; track microgreen.name) {
    <div class="card">
      <img [src]="microgreen.image" [alt]="microgreen.name" class="card-img">
      <div class="card-body">
        <h5 class="card-title">{{ microgreen.name }}</h5>
        <p class="card-price">$ {{ microgreen.price }}</p>
        <p class="card-stock">
          @if (microgreen.stock > 0) {
            Stock: {{ microgreen.stock }}
          } @else {
            <span class="badge text-bg-warning">Out of stock</span>
          }
        </p>

        @if(microgreen.stock) {
          <app-input-integer
            [(quantity)]="microgreen.quantity"
            [max]="microgreen.stock">
          </app-input-integer>

          <button (click)="addToCart(microgreen)" [disabled]="microgreen.quantity === 0" ><i class="bi bi-cart-plus me-2"></i>Add to cart</button>
        }
      </div>
    </div>
  } @empty {
    <p>No microgreens available.</p>
  }
</div>
