<!-- <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (microgreen of microgreens; track microgreen.name) {
            <tr>
                <td>{{microgreen.name}}</td>
                <td><img [src]="microgreen.image" [alt]="microgreen.name"></td>
                <td>{{microgreen.price}}</td>
                <td> @if (microgreen.stock > 0) {
                        {{microgreen.stock}}
                    } @else {
                        <span class="badge text-bg-warning">SIN STOCK</span>
                    }
                </td>
                <td>
                    @if(microgreen.stock) {
                        <app-input-integer [(quantity)]="microgreen.quantity" [max]="microgreen.stock" (maxReached)="maxReached($event)"></app-input-integer>
                        <button class="button btn-primary" (click)="addToCart(microgreen)">Comprar</button>
                    }
                </td>
            </tr>
        }@empty {
            <tr>
                <td colspan="4">No hay microgreens para mostrar.</td>
            </tr>
        }
    </tbody>
</table> -->

<div class="card-container">
  @for (microgreen of microgreens; track microgreen.name) {
    <div class="card">
      <img [src]="microgreen.image" [alt]="microgreen.name" class="card-img">
      <div class="card-body">
        <h5 class="card-title">{{ microgreen.name }}</h5>
        <p class="card-price">$ {{ microgreen.price }}</p>
        <p class="card-stock">
          @if (microgreen.stock > 0) {
            Stock: {{ microgreen.stock }}
          } @else {
            <span class="badge text-bg-warning">SIN STOCK</span>
          }
        </p>

        @if(microgreen.stock) {
          <app-input-integer
            [(quantity)]="microgreen.quantity"
            [max]="microgreen.stock"
            (maxReached)="maxReached($event)">
          </app-input-integer>

          <button (click)="addToCart(microgreen)"><i class="bi bi-cart-plus me-2"></i>Add to cart</button>
        }
      </div>
    </div>
  } @empty {
    <p>No hay microgreens para mostrar.</p>
  }
</div>
